:root {
  --bgColor: #fffcf2;
  --textColor: #252422;
  --primaryColor: #ccc5b9;
  --accentColor: #63c132;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
}

button {
  cursor: pointer;
}
