@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --bgColor: #fffcf2;
  --textColor: #252422;
  --primaryColor: #ccc5b9;
  --accentColor: #63c132;

  --primaryFont: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  font-family: var(--primaryFont);
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--primaryColor);
  padding: 2vh;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  gap: 10px;

  max-width: 100vh;
  border-radius: 10px;
  box-shadow: 0 1vh var(--textColor);
}



